<mat-grid-list cols="4" rowHeight="4:2">
    <div *ngIf='check' class="alert alert-success" role="alert">
        {{sucessCreate}}
    </div>
    <form [formGroup]="createform" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Nome do trator</mat-label>
                <input matInput placeholder="Nome do trator" formControlName="nameTractors">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Modelo do Trator</mat-label>
                <input matInput placeholder="Model do trator" formControlName="modelTractors">
            </mat-form-field>
        </div>

        <div>
            <div>
                <label mat-label>Imagem do trator</label>
            </div>
            <input placeholder="Imagem do trator" type="file" (change)="fileChange($event)">

        </div>
        <button mat-flat-button>Cadastrar</button>

        <div>
            <img class="circle-img" [src]="url">
        </div>
    </form>

</mat-grid-list>